.container {
  border-top: 0;
  margin-top: 0;
}

.Headers {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  /* border: 1px solid red; */
}

.home img{
  margin: 50px;
  width: 30px;
}

.menu{
  background-color: rgba(255, 255, 255, .5);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  cursor: pointer;
}
.menu img{
  background: center;
  width: 15px;
  /* margin-right: 20px; */
}

.menu:hover{
  background-color: aliceblue;
}



.modalOscuro {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}




.nav ul{
  /* max-width: 1200px; */
  width: auto;
  height: auto;
  margin: auto;
  padding: 0;
  display: block;
  /* justify-content: space-between; */
  align-items: center;
  position: absolute;
  top: 40px;
  right: 50px;
  background-color: #161b22;
  color: #c9d1d9;
  border: 1px solid gray;
  border-radius: 5px;
  z-index: 100;
  /* border: 1px solid red; */
}


.nav ul li {
  width: 120px;
  height: 35px;
  padding: 5px;
  padding-left: 15px;
  list-style: none;
  cursor: pointer;

}

.nav ul li:hover{
  /* 58a6ff */
  background-color: #0070f3;
  color: aliceblue;
}




/* //////////////////////////////////////////////////////////////// */
.main {
  padding: 0;
  margin: 0;
  height: 100vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #2c4682;
  top: 0;
  /* padding: 40px; */
}

.main img{
  width: 14%;
  margin: 1%;
}


.zonas {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  justify-content: space-between;
  transition: transform .3s;
}

.zonas a{
  color: inherit;
  text-decoration: none;
  margin: 50px;
  text-align: center;
  font-size: 34px;
  /* padding: 15px; */
  border-bottom: 3px solid aliceblue;
}

.zonas a:hover{
  color: wheat;
  border-bottom: 3px solid wheat;
  transform: scale(1.2);
}



.title a {
  color: aliceblue;
  text-decoration: none;
  /* margin-top: 80px; */
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}




@media (max-width: 700px) {
  .title{
    margin-top: 10px;
    font-size: 34px;
  }
  .zonas a {
    width: 80px;
    height: 50px;
    font-size: 24px;
  }
  .footer {
    display: flex;
    font-size: 11px;
    /* align-items: flex-start; */
  }
  .main img{
    width: 40%;    
  }
  .nav ul li {
    height: 50px;
  }
}


  

